NODE_ENV=development
PORT=3000

DB_HOST=postgres
DB_NAME=nest_auth
DB_PASSWORD=postgres
DB_PORT=5432
DB_USER=postgres

BCRYPT_SALT_ROUNDS=bcrypt_secret # number | string

JWT_REFRESH_EXPIRATION=7d
JWT_REFRESH_SECRET=your_refresh_secret_here
